<%= simple_form_for article do |f| %>
  <%= f.input :nom, label: 'design article', error: 'rentrez nom d article' %>
  <%= f.input :prixHT, label: 'Prix', error: 'le prix ?'%>
 <%= f.button :submit %></button>

 <% end %>
