<h1>Désignation :<%= @article.nom %></h1>

<p>Nombre de couverts :<%= @article.nom %></p>
<p>Payé : <%= @article.prixHT %> </p>

<p>
  <a href="<%= articles_path %>" class="btn btn-primary">Toutes les articles</a>
</p>
