<%= simple_form_for boisson do |f| %>
  <%= f.input :nom, label: 'design boisson', error: 'rentrez nom d boisson' %>
  <%= f.input :prix, label: 'Prix', error: 'le prix ?'%>
 <%= f.button :submit %></button>

 <% end %>
