<h1>Désignation :<%= @boisson.nom %></h1>

<p>Nombre de couverts :<%= @boisson.nom %></p>
<p>Payé : <%= @boisson.prix %> </p>

<p>
  <a href="<%= boissons_path %>" class="btn btn-primary">Toutes les boissons</a>
</p>
