
<div>

  <%= simple_form_for @table do |f| %>
    <%= f.input :nom, label: 'num table', error: 'rentrez un num de table' %>
    <%= f.input :couvert, label: 'nombre couverts', error: 'nombre de couverts ?'%>
   <button class="btn btn-success"><%= f.button :submit %></button>


   <% end %>


</div>
