<%= simple_form_for table do |f| %>
  <%= f.input :numeros, label: 'numeros table', error: 'rentrez un numeros de table' %>
  <%= f.input :couverts, label: 'nombre couverts', error: 'nombre de couverts ?'%>
 <%= f.button :submit %></button>

 <% end %>

