
<%= render 'form', table: @table %>

  <span class= "d-flex justify-content-center mb-3 fixed-top" style="font-size: 2rem">
    <%= link_to tables_path do %>
  <i class="fas fa-undo"></i>
  <% end %>
  </span>


