<h1>numéros de table :<%= @table.numeros %></h1>

<p>Nombre de couverts :<%= @table.couverts %></p>
<p>Payé : <%= @table.reglement %> </p>

<p>
  <a href="<%= tables_path %>" class="btn btn-primary">Toutes les tables</a>
</p>
